*.swp
*.o
*.lo
7-1.11/INSTALL
7-1.11/Makefile
7-1.11/Makefile.in
7-1.11/aclocal.m4
7-1.11/config.guess
7-1.11/config.log
7-1.11/config.status
7-1.11/config.sub
7-1.11/configure
7-1.11/fortran/Makefile
7-1.11/fortran/Makefile.in
7-1.11/fortran/c_src_bak/Makefile
7-1.11/fortran/c_src_bak/Makefile.in
7-1.11/install-sh
7-1.11/libmopac7.pc
7-1.11/libtool
7-1.11/ltmain.sh
7-1.11/missing
7-1.11/src/.deps/
7-1.11/src/.libs/
7-1.11/src/Makefile
7-1.11/src/Makefile.in
7-1.11/tests/Makefile
7-1.11/tests/Makefile.in
7-1.11/autom4te.cache/
7-1.11/compile
7-1.11/depcomp

7-1.11/src/libmopac7.la
7-1.11/src/mopac7

7-1.11/src/FOR005

